* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

  display: grid;
  grid-template-rows: 48px calc(100vh - 48px);
  grid-template-columns: 1fr max(300px, 20%);
  grid-template-areas:
    "appbar appbar"
    "editor sidebar";
}

.appbar {
  grid-area: appbar;

  border-bottom: solid #ACD7EC 2px;
}

.editor {
  grid-area: editor;
}

.sidebar {
  grid-area: sidebar;

  border-left: solid #ACD7EC 2px;
}

