* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;

  display: grid;
  grid-template-rows: 48px calc(100vh - 48px);
  grid-template-columns: max(300px, 20%) 1fr;
  grid-template-areas:
    "sidebar appbar"
    "sidebar editor";
}

.appbar {
  grid-area: appbar;

  border-bottom: solid #ACD7EC 2px;
}

.editor {
  grid-area: editor;
}

.sidebar {
  grid-area: sidebar;

  border-right: solid #ACD7EC 2px;
}

