.App {
  box-sizing: border-box;

  background-color: #282c34;

  width: 100vw;
  height: 100vh;
  
  display: grid;
  grid-template-columns: 1fr max(300px,20%);
  grid-template-areas: "main sidebar";
}

.sidebar {
  grid-area: sidebar;

  background-color: #666972;
  border-left: solid #7a92c2 3px;
}

.main-content {
  grid-area: main;

  background-color: #282c34;
}

